extends base.pug
block scripts
    //- script(src='../static/javascripts/index.js')
    script(src='/static/javascripts/cart.js' defer="defer" async)
    script(src='../static/javascripts/localItem.js' defer="defer" async)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
block style
    style
        include ../static/stylesheets/style.css
        include ../static/stylesheets/styleProfile.css
        include ../static/stylesheets/styleResponsive.css
block content
    div.profile-container
        div.profile
            div.top-profile    
                img(src="https://img.icons8.com/color/96/000000/circled-user-male-skin-type-4--v1.png",alt='No image')
            div.bottom-profile
                if(data1)
                    div.donate-count
                        if(data1[0].donate) 
                            h2 Items For Donation #{data1[0].donate}
                        else 
                            | No Items For Donation
                    div.sell-count
                        if(data1[0].sell)
                            h2 Items For Sell #{data1[0].sell}
                        else  
                            | No Items For Sell
                else 
                    h2 You dont have any items for sell and donation

        div.table 
            div#myForm
                a(href='/api/edit/'+data[0].user_id) edit
                if(data)
                    div.personal-info 
                        h2  MY PROFILE 
                        if(data[0].fname)
                            heading-p1 #{data[0].fname}
                        
                            //- input(type="text", class="myInput", name="fname", placeholder=data[0].fname)

                        else    
                            input(type="text", class="myInput", name="fname", placeholder="First Name")
                        if(data[0].lname)
                            input(type="text", class="myInput", name="lname", placeholder=data[0].lname)
                        else 
                            input(type="text", class="myInput", name="lname", placeholder="Last Name")   
                    div.gender-info 
                        h2 Your gender
                        if(data[0].gender)
                            if(data[0].gender==='male')
                                div.gender-info-single
                                    input(type="radio" id="male" name="gender" value="male" checked)
                                    label(for="male") Male
                            if(data[0].gender==='female')
                                div.gender-info-single
                                    input(type="radio" id="female" name="gender" value="female" checked)
                                    label(for="female") Female
                            if(data[0].gender===other)
                                div.gender-info-single
                                    input(type="radio" id="other" name="other" value="other" checked)
                                    label(for="other") Other
                        else  
                            h2 Kindly Specify Your Gender
                    h2 Mobile Number    
                    if(data[0].phone)
                        input(type="text", class="myInput",id="phone", name="phone", placeholder=data[0].phone)
                    else 
                        input(type="text", class="myInput",id="phone", name="phone", placeholder="Enter your phone")
                    h2 Your country 
                    if(data[0].country)
                        input(type="text", class="myInput",id="country", name="country", placeholder=data[0].country) 
                    else 
                        input(type="text", class="myInput",id="country", name="country", placeholder="Enter your country")     
                    h2 Your state
                    if(data[0].state)
                        input(type="text", class="myInput",id="state", name="state", placeholder=data[0].state)     
                    else 
                        input(type="text", class="myInput",id="state", name="state", placeholder="Enter your state")      
                    h2 Your city 
                    if(data[0].city)
                        input(type="text", class="myInput",name="city", placeholder=data[0].city)  
                    else 
                        input(type="text", class="myInput",name="city", placeholder="Enter your city")       
                    h2 Your Address
                    if(data[0].address)
                        input(type="text", class="myInput",name="address", placeholder=data[0].address)  
                    else 
                        input(type="text", class="myInput",name="address", placeholder="Enter your address")  
                    h2 Pincode 
                    if(data[0].pincode)
                        input(type="text", class="myInput",id="pcode", name="pcode", placeholder=data[0].pincode)    
                    else
                        input(type="text", class="myInput",id="pcode", name="pcode", placeholder="Enter pincode")     
                else 
                    div.personal-info 
                        h1 Welcome
                        
                        input(type="text", class="myInput", name="fname", placeholder="First Name")
                        input(type="text", class="myInput", name="lname", placeholder="Last Name")
                    div.gender-info 
                        h2 Your gender
                        div.gender-info-single
                            input(type="radio" id="male" name="gender" value="male")
                            label(for="female") Male
                        div.gender-info-single
                            input(type="radio" id="female" name="gender" value="female")
                            label(for="female") Female
                        div.gender-info-single
                            input(type="radio" id="other" name="gender" value="other")
                            label(for="female") Other
                    h2 Mobile Number    
                    input(type="text", class="myInput",id="phone", name="phone", placeholder="Enter mobile number")
                    h2 Your country 
                    input(type="text", class="myInput",id="country", name="country", placeholder="Enter your country") 
                    h2 Your state
                    input(type="text", class="myInput",id="state", name="state", placeholder="Enter your state")     
                    h2 Your city 
                    input(type="text", class="myInput",id="city", name="city", placeholder="Enter your city")   
                    h2 Your Address
                    input(type="text", class="myInput",id="address", name="address", placeholder="Enter your address") 
                    h2 Pincode 
                    input(type="text", class="myInput",id="pcode", name="pcode", placeholder="Enter pincode")

    script.           
        $('input').attr('readonly', true);



